<html>
  <head>
	<title>Web scrap</title>

	<%=stylesheet_link_tag 'css/flick/jquery-ui-1.8.13.custom','scaffold'%>
	<%= javascript_include_tag "jquery", "jquery-ui-1.8.13.custom.min", "application" %>
	<%= javascript_include_tag "protovis-r3.2", "application" %>


	<script language="javascript">
		$(document).ready(function() {
			$("#myDiv").html("hello");
			$( "#tabs" ).tabs();
		 });
	</script>

  </head>
<body>
		Web Scrapping example
		<br>
		Data: <%= @msg%>!!!

		<ul>
		<%@vetorInst.each do |item|%>
		<li>banco: <%=item['instituicao']%> valor: <%=item['valor']%> </li>
		<%end%>
		</ul>

	</body>
</html>
